.content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.column {
    flex: 0 0 auto;
}

.column:first-child {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    width: 8.25rem;
    height: 8.25rem;
    border-radius: 50%;
    overflow: hidden;
    background: #000000;
}

.image img {
    width: 140px;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 50%;
}

.title, .characteristics, .actions {
    margin: 0.5rem 0;
}

.title {

}

.characteristics {
    flex: 1 1 auto;
    font-size: 0.75rem;

    display: flex;
    flex-direction: column;
}

.characteristics > * + * {
    margin-top: 0.5rem;
}

.actions {
    display: flex;
    align-items: center;
}

.actions > * + * {
    margin-left: 0.5rem;
}
