.button {
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 0.75rem;
    width: auto;
    white-space: nowrap;
    margin: 0;
    cursor: pointer;
}

.button.primary {
    background-color: #FBE6A2;
    color: #000000;
}

.button.secondary {
    border-color: #FBE6A2;
    background-color: #dedede;
    color: #FBE6A2;
}